/******************************************************************
	GLOBAL STYLESHEET
  *****************************************************************/
  
 /*------------------------------------------------------------
	------------ Colour Palette ------------

mustard-yellow ------------ #f1b243
black-black ------------ #000000
light-gray ------------ #e5e5e5

------------------------------------------------------------*/

    
/*------------------------------------------------------------
	------------ Default Styles ------------
------------------------------------------------------------*/

html,
body {
	background-color:#f2f2f2;
	overflow-x:hidden;
	height: 100%;
	padding-top: 35px;

}


.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -90px; /* the bottom margin is the negative value of the footer's height */
	
}

.footer, 
.push {
	height: 90px; /* .push must be the same height as .footer */
}

.navbar-brand {
float: left;
height: 50px;
padding: 22px 15px 0px 50px;
font-size: 18px;
line-height: 20px;
}

.container { /* this removes the responsiveness */
   max-width: none!important;
   width: 1270px;
}

.m-t-10 { margin-top:10px;}
.m-t-20 { margin-top:20px;}
.m-t-30 { margin-top:30px;}
.m-t-40 { margin-top:40px;}
.m-t-thankyou {margin-top:190px;}

.m-b-10 { margin-bottom:10px;}
.m-b-20 { margin-bottom:20px;}
.m-b-30 { margin-bottom:30px;}
.m-b-40 { margin-bottom:40px;}


.p-t-10 {padding-top:10px;}
.p-t-20 {padding-top:10px;}
.p-t-30 {padding-top:10px;}
.p-t-40 {padding-top:10px;}

.line-height {line-height: 1.3;}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(251, 183, 59, 0.8);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(251, 183, 59, 0.8);
  outline: 0 none;
}

#membershipnumber
{   padding: 0px;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
}

/*------------------------------------------------------------
	------------ Navbar ------------
------------------------------------------------------------*/

.navbar-inverse,
.brand-color {
	background-color:#fbb73b; 
	border-bottom:#fbb73b solid 1px;
	-webkit-box-shadow: -1px 16px 6px -9px rgba(0,0,0,0.08);
	-moz-box-shadow: -1px 16px 6px -9px rgba(0,0,0,0.08);
	box-shadow: -1px 16px 6px -9px rgba(0,0,0,0.08);
	}
	
.top-right { 
	padding-top:5px; 
	font-size:250%; 
	font-weight:bolder; 
	color:white;
	}
	
.telephone {
	position:relative; 
	left:-10px; 
	top:-2px;
	}

.navbar-bottom { 
	background-color:#333333;
	margin-top:100px;
	}
	
.footer-credits { 
	color: #7A7A7A; 
	padding:10px; 
	margin-left:18%; 
	font-size:90%; 
	width:70%;
	}



/*------------------------------------------------------------
	------------ Body Elements ------------
------------------------------------------------------------*/

.center-me {
	position:relative; 
	right:20%;
}

.block-1, 
.block-2, 
.block-3 { 
	margin-top:50px;
	background-color:#fff; 	
	border-bottom:2px #fbb73b solid;
	font-size:110%;
	}

.block-pipe {
	background-color:#fbb73b;
	padding-left:100px;
	padding-top:10px;	
	color:#fff;	
	font-weight:bold;
	}

.pipe-left {
	font-size:120%; 
	color:#fff;
	}
	
.pipe-member {
	color:#000;	
	text-transform:uppercase;
	
	}
	

.header-full {
	background-color:#fff; 
	padding:50px;
	}

.block-1-form { 
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #000;
	background-color:#E8E8E8;
	background-image: none;
	border: 0px solid #ccc;
	border-radius: 120px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition:none;
	margin-bottom:50px;
}

.block-2-form { 
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #999999;
	background-color:#E8E8E8;
	background-image: none;
	border: 0px solid #ccc;
	border-radius: 120px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition:none;
	margin-bottom:10px;
}


.info-1, 
.info-2, 
.info-3,
.info-4 { 
position:absolute;
}

.text-muted {font-weight:200;}

.info-2 { margin-top:50px;}
.info-3 { margin-top:55%;}
.info-4 { margin-top:50%;}

.upload-text {
	position:absolute; 
	left:28px; 
	padding-top:10px; 
	color:#000; 
	font-size:13px;
}

.panel{
	margin-bottom: 20px;
	background-color: #fff;
	border: 0px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

div.upload {
    width: 390px;
    height: 35px;
    overflow: hidden;
    background-color: #E8E8E8;
    border-radius: 20px;
    cursor: crosshair;
}

div.upload:hover {
    width: 390px;
    height: 35px;
    overflow: hidden;
    background-color:#fbb73b; 
    -o-transition:color .1s ease-out, background .3s ease-in;
  	-ms-transition:color .1s ease-out, background .3s ease-in;
  	-moz-transition:color .1s ease-out, background .3s ease-in;
  	-webkit-transition:color .1s ease-out, background .3s ease-in;
    border-radius: 20px;
    cursor: crosshair;
}

div.upload input {
    display: block !important;
    width: 380px !important;
    height: 57px !important;
    /*opacity: 0 !important;*/
    overflow: hidden !important;
     cursor: copy!important;
     padding-left: 35px;
  padding-top: 5px;
}

.dropdown-list {
	padding:0px;
	-webkit-box-shadow:none; 
	border-radius:0px; 
	border:none; 
	font-size:13px;
}

.address-width {width:300px;}

.panel-body { padding: 0px;}

.panel-default>.panel-heading+.panel-collapse>.panel-body {border-top-color:#000}

.panel-default>.panel-heading
{

color: #fff;
background-color: #000;
border-color: #ddd;
}

.panel-title { text-decoration: none;}


.panel-hover {background-color:black; color:white;}
.panel-hover:hover {background-color: #555454;color:#fff; }

.list-group-item:first-child 
{border-top-left-radius: 0px!important; 
 border-top-right-radius: 0px!important;}

.list-group-item:last-child 
{border-bottom-right-radius: 0px!important;
border-bottom-left-radius: 0px!important;}

.list-group-item {
border-top-left-radius: 0px; 
 border-top-right-radius: 0px;
border:0px}

.list-group-item-fade-1 {
color: #fff;
background-color: #191919;
}

.list-group-item-fade-2 {
color: #fff;
background-color: #191919;
}

.list-group-item-fade-3 {
color: #fff;
background-color: #262626;
}

.list-group-item-fade-4 {
color: #fff;
background-color: #3f3f3f;
}

.list-group-item-fade-5 {
color: #fff;
background-color: #565555;
}

.btn-default { border-color:#fff!important;}

.finish-btn {
border-radius: 17px;
width: 120px;
padding: 5px;}

.deliver-date {position:absolute; top:50px; left:170px; display:block;}

.thankyou-position { position:relative; left:2%;}
.welcome-position  {width:60%; position:relative; left:5%;}

.welcome-position p {font-weight: 100;
letter-spacing: 1px;}



/*------------------------------------------------------------
	------------ Footer ------------
------------------------------------------------------------*/

.nav-height {height: 90px;}
