﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SBG.Models.AssetUploadModel>
@*
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <body>
        <form role="form" action="/post" method="POST" enctype="multipart/form-data">
            <input type="text" class="form-control" id="membershipnumber" name="membershipnumber" value="@Model.MembershipNumber" readonly="">
            <input type="text" class="form-control" id="name" name="name" placeholder="Full name" required>
            <input type="text" class="form-control" id="email" name="email" value="@Model.Email" required>
            <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Telephone Number" required>
            <br />
            <br />

            <input type="text" class="form-control" id="businessname" name="businessname" placeholder="Business name" required>
            <input type="text" class="form-control" id="businessline1" name="businessline1" placeholder="Business Address Line 1" required>
            <input type="text" class="form-control" id="businessline2" name="businessline2" placeholder="Business Address Line 2" required>
            <input type="text" class="form-control" id="businesscity" name="businesscity" placeholder="Business Town/City" required>
            <input type="text" class="form-control" id="businesscounty" name="businesscounty" placeholder="Business County" required>
            <input type="text" class="form-control" id="businesspostcode" name="businesspostcode" placeholder="Business Postcode" required>
            <input type="text" class="form-control" id="businesstelephone" name="businesstelephone" placeholder="Business Telephone" required>
            <input type="text" class="form-control" id="businessemail" name="businessemail" placeholder="Business Email" required>
            <input type="text" class="form-control" id="businesswebsiteaddress" name="businesswebsiteaddress" placeholder="Business Website Address" required>
            <input type="file" id="logo" name="logo">
            <br />
            <br />
            <input type="hidden" name="documentquantity" value="@Model.DocumentQuantity" />
            <input type="text" class="form-control" id="secondarydeliveryname" name="secondarydeliveryname" placeholder="Secondary Delivery Name">
            <input type="text" class="form-control" id="secondarydeliveryline1" name="secondarydeliveryline1" placeholder="Secondary Delivery Address Line 1">
            <input type="text" class="form-control" id="secondarydeliveryline2" name="secondarydeliveryline2" placeholder="Secondary Delivery Address Line 2">
            <input type="text" class="form-control" id="secondarydeliverycity" name="secondarydeliverycity" placeholder="Secondary Delivery Town/City">
            <input type="text" class="form-control" id="secondarydeliverycounty" name="secondarydeliverycounty" placeholder="Secondary Delivery County">
            <input type="text" class="form-control" id="secondarydeliverypostcode" name="secondarydeliverypostcode" placeholder="Secondary Delivery Postcode">

            <label for="deliverypercentage">Percentage to deliver to secondary address</label>
            <select name="deliverypercentage" id="deliverypercentage">
                <option value="25">25%</option>
                <option value="50">50%</option>
                <option value="75">75%</option>
                <option value="100">100%</option>
            </select>
            <br />
            <button type="submit" name="submit" value="submit">Submit details</button>
        </form>
    </body>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Sesame Banhhall Group / 2016</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">*@
    <link href="/Content/css/styles.css" rel="stylesheet">
    <link href="/Content/css/typography.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    @*<script src="../../assets/js/ie-emulation-modes-warning.js"></script>*@
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
    <form role="form" action="/post" method="POST" enctype="multipart/form-data">
    <nav class="navbar navbar-inverse navbar-fixed-top brand-color">
        <div class="navbar-header"> <span class="navbar-brand"><span class="font-x-large bold default-white ">YOUR WEB PORTAL FOR YOUR NEW STATIONERY</span><!--<img src="/Content/img/brand-logo.jpg" width="225" height="29"/>--></span> </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="list-inline pull-right top-right">
                <li>0800 783 1695</li>
                <li class="telephone"><img src="/Content/img/phone-top.png" alt="contact-icon" title="contact-icon" width="30" height="28"></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </nav>

        <div class="wrapper">
            <!-- WRAPPER FOR STICKY FOOTER //// START -->

            <div class="row header-full">

                <div class="col-xs-9 col-xs-offset-3 text-center welcome-position">
                    <div class="center-me">
                        <img src="/Content/img/header-brand.jpg" width="300" height="68" alt="sesame-black-logo" title="sesame-black-logo" class="m-b-20">
                        <p class="lead text-center font-xx-large">
                            <strong>From XX May 2016 our network name will be changing to m-partner.</strong>
                        </p>
                        <p class="lead text-center font-x-large italic line-height">
                            From XX May 2016 our network name will be changing to m-partner. It’s to firmly position our place by your
                            side and to better embody the benefits of being a network member. We’ll send you rebranded compliment
                            slips, letter-heads and continuation sheets so you can carry on as normal when the name change comes
                            into affect. It’s all part of our commitment to making life noticeably easier and ensures your clients are
                            informed of the new network you are authorised with.
                        </p>
                        <p class="lead text-center font-x-large italic line-height">
                            To receive your updated business collateral, simply complete the form below, including your delivery details.
                            Please do this before XX April 2016 to ensure we can process and deliver your collateral in time for the network
                            change on XX May 2016. Once you’ve completed the form, we’ll send you an email to approve the new layout.
                        </p>
                    </div>
                </div>
            </div>


            <!--- BLOCK 1 -->

            <div class="container block-1">
                <div class="row">
                    <div class="col-xs-12 block-pipe">
                        <div class="row">
                            <div class="col-xs-8 pipe-left">
                                <p>Your contact details</p>
                            </div>
                            <div class="col-xs-4 pipe-member">
                                Membership number:<input type="text" class="form-control" id="membershipnumber" name="membershipnumber" value="@Model.MembershipNumber" readonly="">
                                @*<p>Membership number: @Model.MembershipNumber</p>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-t-30">
                    <div class="col-xs-4 text-center">
                        <img src="/Content/img/avatar-image.jpg" alt="user-icon" title="user-icon" width="80" height="75" class="m-b-10" />
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control block-1-form address-width" id="name" name="name" placeholder="Your name..." required>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 text-center">
                        <img src="/Content/img/envelope-image.jpg" alt="envelope-icon" title="envelope-icon" width="80" height="75" class="m-b-10" />
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control block-1-form address-width" id="email" name="email" value="@Model.Email" placeholder="Your email address..." required>
                            </div>
                        </div>
                        <p class="text-muted small" style="margin-top: -20px;">
                            <i>
                                This will be the email address <br>e
                                that we will send your stationery to for approval.
                            </i>
                        </p>
                    </div>
                    <div class="col-xs-4 text-center">
                        <img src="/Content/img/phone-image.jpg" alt="phone-icon" title="phone-icon" width="80" height="75" class="m-b-10" />
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control block-1-form address-width" id="telephone" name="telephone" placeholder="Your telephone number..." required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--- BLOCK 2 -->

            <div class="container block-2">
                <div class="row">
                    <div class="col-xs-12 block-pipe">
                        <div class="row">
                            <div class="col-xs-8 pipe-left">
                                <p>Business Stationery Information</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 m-t-20">
                        <p>(to appear on your business compliment slips, letter heads and continuation sheets)</p>
                    </div>
                </div>
                <div class="row m-t-30 m-b-30">
                    <div class="col-xs-4">
                        <div>
                            <div class="form-group">
                                <input type="text" class="form-control block-2-form" id="businessname" name="businessname" placeholder="Business name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control block-2-form" id="businessline1" name="businessline1" placeholder="Business address line 1" required>
                                <input type="text" class="form-control block-2-form" id="businessline2" name="businessline2" placeholder="Business address line 2" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control block-2-form" id="businesscity" name="businesscity" placeholder="Business town/city" required>
                                <input type="text" class="form-control block-2-form" id="businesscounty" name="businesscounty" placeholder="Business county" required>
                                <input type="text" class="form-control block-2-form" id="businesspostcode" name="businesspostcode" placeholder="Business postcode" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control block-2-form" id="businesstelephone" name="businesstelephone" placeholder="Business telephone number" required>
                                <input type="text" class="form-control block-2-form" id="businessemail" name="businessemail" placeholder="Business email address" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control block-2-form" id="businesswebsiteaddress" name="businesswebsiteaddress" placeholder="Business website address" required>
                                <div class="upload">
                                    <p class="upload-text">
                                        <span class="glyphicon glyphicon-cloud-upload"></span>
                                    </p>
                                   <input type="file" id="fileupload-example-4"/>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <p class="text-muted info-1">
                            <i>This is your official trading name</i>
                        </p>
                        <p class="text-muted info-2">
                            <i>If you need your stationery delivered to a different location please advise in the ‘Delivery Details’ section</i>
                        </p>
                        <p class="text-muted info-4">
                            <i>If you have a business website, please add this in here</i>
                        </p>
                        <p class="text-muted info-3">
                            <i>
                                Please upload your company logo if you have one
                                NB The logo needs to be in 1 of the following formats jpg, .eps, .pdf, and needs to be no smaller than x MB.
                            </i>
                        </p>
                    </div>
                </div>
            </div>

            <!--- BLOCK 3 -->

            <div class="container block-3">
                <div class="row">
                    <div class="col-xs-12 block-pipe">
                        <div class="row">
                            <div class="col-xs-6 pipe-left">
                                <p>Delivery details</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 m-b-20 m-t-20">
                        <p>Your stationery will be delivered to your business’ registered address. If you wish a proportion to be sent to a second delivery address please provide those details below:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div>
                            <input type="hidden" name="documentquantity" value="@Model.DocumentQuantity" />
                            <div class="form-group">
                                <input type="text" class="form-control block-2-form" id="secondarydeliveryname" name="secondarydeliveryname" placeholder="Additional delivery address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control block-2-form" id="secondarydeliveryline1" name="secondarydeliveryline1" placeholder="Additional delivery address line 1">
                                <input type="text" class="form-control block-2-form" id="secondarydeliveryline2" name="secondarydeliveryline2" placeholder="Additional delivery address line 2">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control block-2-form" id="secondarydeliverycity" name="secondarydeliverycity" placeholder="Additional delivery address town/city">
                                <input type="text" class="form-control block-2-form" id="secondarydeliverycounty" name="secondarydeliverycounty" placeholder="Additional delivery address county">
                            </div>
                            <div class="form-group">
                                @*<input type="text" class="form-control block-2-form" id="#" placeholder="Business telephone number">*@
                                @*<input type="text" class="form-control block-2-form" id="#" placeholder="Business email address">*@
                                <input type="text" class="form-control block-2-form" id="secondarydeliverypostcode" name="secondarydeliverypostcode" placeholder="Additional delivery address postcode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <select name="deliverypercentage" id="deliverypercentage" class="form-control block-2-form">
                            <option value="" disabled selected>Percentage to deliver to additional delivery address</option>
                            <option value="0">0%</option>
                            <option value="25">25%</option>
                            <option value="50">50%</option>
                            <option value="75">75%</option>
                            <option value="100">100%</option>
                        </select>

                        @*<div class="panel-group" id="accordion">
                            <div class="panel panel-default">

                                <div class="panel-heading panel-hover">
                                    <h4 class="panel-title font-medium">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Percentage % </a><i class="indicator glyphicon glyphicon glyphicon-triangle-bottom pull-right mustard-yellow"></i>
                                    </h4>
                                </div>

                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <a href="#">
                                                <li class="list-group-item list-group-item-fade-2 ">%25<i class="indicator glyphicon glyphicon glyphicon-triangle-right pull-right default-white"></i> </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item list-group-item-fade-3 ">%50<i class="indicator glyphicon glyphicon glyphicon-triangle-right pull-right default-white"></i></li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item list-group-item-fade-4 ">%75<i class="indicator glyphicon glyphicon glyphicon-triangle-right pull-right default-white"></i></li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item list-group-item-fade-5 ">%100<i class="indicator glyphicon glyphicon glyphicon-triangle-right pull-right default-white"></i></li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Collapsible Group Item #2 </a><i class="indicator glyphicon glyphicon glyphicon-triangle-top  pull-right"></i> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                                </div></div> -->
                            <!-- <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Collapsible Group Item #3 </a><i class="indicator glyphicon glyphicon glyphicon-triangle-top pull-right"></i> </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                                </div></div> -->
                        </div>*@
                    </div>
                    <div class="col-xs-7">
                        <p class="text-muted" style="float: right; display: block;">
                            <i>
                                Please confirm what percentage of your stationery should be delivered to this second address (e.g if you want
                                half sent to your registered address and half sent to your additional delivery address choose 50%). If you want
                                all of your stationery sent to your registered address chose 0%.
                            </i>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr style="border-top: 1px dotted black">
                        <button type="submit" name="submit" value="submit" class="btn btn-lg btn-default m-b-20 mustard-yellow-bg finish-btn bold">FINISH</button>
                        @*<a href="#" class="btn btn-lg btn-default m-b-20 mustard-yellow-bg finish-btn bold">FINISH</a>*@
                        <p class="bold deliver-date">Stationery will be delivered xxx date</p>
                    </div>
                </div>
            </div>

            <div class="push"></div>
            <!-- LEAVE THIS HERE AS IT PUSHES FOOTER DOWN -->
        </div>
        <!-- WRAPPER STICKY FOOTER //// END -->
        <div class="footer">
            <nav class="navbar navbar-inverse navbar-bottom nav-height">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="/Content/img/brand-logo-blk.jpg" alt="sesame-black-logo" title="sesame-black-logo" width="200" height="26" /></a>
                </div>
                <p class="footer-credits hidden-sm hidden-xs">Sesame® is the registered trade mark of Sesame Bankhall Group a company registered in England and Wales with company number 3573352 and registered office at Pixham End, Dorking, Surrey RH4 1QA. Sesame Limited is entered on the FCA Register No 150427 at www.fca.org.uk/register. Registered in England with company number 02844161. VAT number: 750012975.</p>

                <!--/.nav-collapse -->

            </nav>
        </div>
        <!-- JAVASCRIPT ALWAYS IN THIS POSITION -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="/Content/js/bootstrap.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="/Content/js/scripts.js"></script>
    </form>
</body>
</html>
