﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SBG.Models.AssetUploadModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Sesame Banhhall Group / 2016</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->
    <link href="/Content/css/styles.css" rel="stylesheet">
    <link href="/Content/css/typography.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top brand-color">
        <div class="navbar-header"> <span class="navbar-brand"><span class="font-x-large bold default-white ">YOUR WEB PORTAL FOR YOUR NEW STATIONERY</span><!--<img src="/Content/img/brand-logo.jpg" width="225" height="29"/>--></span> </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="list-inline pull-right top-right">
                <li>0800 783 1695</li>
                <li class="telephone"><img src="/Content/img/phone-top.png" alt="contact-icon" title="contact-icon" width="30" height="28"></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </nav>

    <div class="wrapper">
        <!-- WRAPPER FOR STICKY FOOTER  //// START -->
        <div class="row header-full">
            <div class="container">
                <div class="col-xs-9 col-xs-offset-3 text-center thankyou-position">
                    <div class="center-me">
                        <p class="lead text-center font-size-mega bold m-t-thankyou">Thank you</p>
                        <p class="lead text-center">
                            You will receive an email in the next few weeks to approve your artwork ahead of printing.<br>
                            Please keep an eye out for it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--- BLOCK 1 -->

        <div class="container">
            <div class="col-xs-12 m-t-40 font-large">
                <div class="row p-t-30">
                    <p class="text-center bold">MEMBERSHIP NUMBER: @Model.MembershipNumber</p>
                    <p class="text-center bold m-t-40">
                        <img src="/Content/img/avatar_thankyou.png" width="90" height="96" class="m-b-10" />
                    </p>
                    <p class="text-center">@Model.Name</p>
                    <p class="text-center text-muted">@Model.Email</p>
                    <p class="text-center text-muted">@Model.BusinessTelephone</p>
                    </div>
                </div>
            </div>

            <div class="push"></div>
            <!-- LEAVE THIS HERE AS IT PUSHES FOOTER DOWN -->
        </div>
        <!-- WRAPPER STICKY FOOTER //// END -->
        <div class="footer">
            <nav class="navbar navbar-inverse navbar-bottom nav-height">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="/Content/img/brand-logo-blk.jpg" alt="sesame-black-logo" title="sesame-black-logo" width="200" height="26" /></a>
                </div>
                <p class="footer-credits hidden-sm hidden-xs">Sesame® is the registered trade mark of Sesame Bankhall Group a company registered in England and Wales with company number 3573352 and registered office at Pixham End, Dorking, Surrey RH4 1QA. Sesame Limited is entered on the FCA Register No 150427 at www.fca.org.uk/register. Registered in England with company number 02844161. VAT number: 750012975.</p>

                <!--/.nav-collapse -->

            </nav>
        </div>
        <!-- JAVASCRIPT ALWAYS IN THIS POSITION -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="/Content/js/bootstrap.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="/Content/js/scripts.js"></script>
    </body>
</html>
